.container {
  position: fixed;
}

.search-form {
  background-color: rgb(94, 127, 233);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
}

input {
  border-radius: 3px;
  margin-right: 8px;
  border-style: none;
  padding: 5px;
}

button {
  height: 26px;
  padding: 5px;
  border-radius: 5px;
  border-style: none;
  color: black;
  background-color: white;
  border-style: none;
  cursor: pointer;
}

button:focus {
  background-color: blue;
  color: white;
}

.body {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  padding: 0 30px;
}

.gallery {
  margin-top: 15;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.img {
  display: block;
  width: auto;
  height: 176px;
  object-fit: cover;
  margin: 0px;
  padding: 0px;
}

.photo-card {
  height: auto;
  height: 225px;
  /*wpisać box-shadow*/
}

.info {
  display: flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px 5px 10px;
  height: 30px;
}

.info-item {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.load-more {
  background-color: rgb(218, 218, 223);
  color: black;
  padding: 10px;
  display: flex;
  align-items: center;
}

.load-more:focus {
  background-color: rgb(94, 127, 233);
  color: white;
}

.button-container.is-hidden {
  display: none;
}

/*display: flex;
  flex-direction: column;
  justify-content: space-between;*/

/*mobile*/ /*
@media screen and (max-width: 767px) {
  .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
  }
}

/*tablet*/ /*
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .gallery {
    flex-basis: calc((100% - 30px) / 2);
  }
}


/*desktop

@media screen and (min-width: 1200px) {
  .gallery {
    flex-basis: calc((100% - 120px) / 4);
    gap: 30px;
  }
}

/*.photo-card {}*/
